{% extends "base.html" %}
{% block content %}
    {% if schedules %}
        <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Start command</th>
            <th>Stop command</th>
            <th>Schedule</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        {% for schedule in schedules %}
            {% if schedule.enabled %}
            {% set enabled = 'success' %}
            {% else %}
            {% set enabled = 'danger' %}
            {% endif %}
            <tr class="{{ enabled }}">
            <td>
                {% if schedule.enabled %}
                    <a class="btn btn-danger" href="{{ url_for("disable_schedule", schedule_id=schedule.id) }}">Disable</a>
               {% else %}
                    <a class="btn btn-success" href="{{ url_for("enable_schedule", schedule_id=schedule.id) }}">Enable</a>
                {% endif %}
            </td>
            <td>
                <span>{{ schedule.name }}</span>
            </td>
            <td>
                <span>{{ schedule.start_cmd }}</span>
            </td>
            <td>
                <span>{{ schedule.stop_cmd }}</span>
            </td>
            <td>
                <table class="table table-condensed table-borderless">
                <tr class="{{ enabled }}">
                    <th>Day</th>
                    <th>Start</th>
                    <th>Stop</th>
                </tr>
                {% for run in schedule.runs %}
                    <tr class="{{ enabled }}">
                        <td>
                            {{ run.day|to_day }}
                        </td>
                        <td>
                            {{ "%02d:%02d"|format(run.start.hour, run.start.minute) }}
                        </td>
                        <td>
                            {{ "%02d:%02d"|format(run.stop.hour, run.stop.minute) }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
            <td>
                <a href="{{ url_for("edit_schedule", schedule_id=schedule.id) }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>
            </td>
            <td>
                <a href="{{ url_for("del_schedule", schedule_id=schedule.id) }}"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
            </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <span>No schedules yet!</span>
    {% endif %}
    <a href="{{ url_for("add_schedule") }}" class="btn btn-primary">Add schedule</a>
{% endblock %}