{% extends "base.html" %}
{% block content %}
    {% if form %}
    <form action="" method="POST" role="form" class="form-horizontal">
        {{ form.hidden_tag() }}

        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label for="{{ form.name.id }}" class="col-sm-2 control-label">{{ form.name.label() }}</label>
            <div class="col-sm-2">
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="form-group {% if form.start_cmd.errors %}has-error{% endif %}">
            <label for="{{ form.start_cmd.id }}" class="col-sm-2 control-label">{{ form.start_cmd.label() }}</label>
            <div class="col-sm-4">
                {{ form.start_cmd(class="form-control") }}
                {% for error in form.start_cmd.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    
        <div class="form-group {% if form.stop_cmd.errors %}has-error{% endif %}">
            <label for="{{ form.stop_cmd.id }}" class="col-sm-2 control-label">{{ form.stop_cmd.label() }}</label>
            <div class="col-sm-4">
                {{ form.stop_cmd(class="form-control") }}
                {% for error in form.stop_cmd.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <h4>Scheduled program runs</h4>
                <table class="table">
                    <tr>
                        <th>Day</th>
                        <th>Start</th>
                        <th>Stop</th>
                        <th>Delete</th>
                    </tr>
                    {% for run in form.runs %}
                        <tr>
                            {{ run.form.id }}
                            <td>{{ run.form.day(class="form-control") }}</td>
                            <td>{{ run.form.start(class="form-control") }}</td>
                            <td>{{ run.form.stop(class="form-control") }}</td>
                            <td>{{ run.form.del_run(class="btn btn-danger") }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form.add_run(class="btn btn-default") }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary">{% if add_schedule %}Add{% else %}Save{% endif %}</button>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}
{% block extra_script %}
    <script type="text/javascript">
        $(function () {
            for(i=0; i < {{ form.runs|length }}; i++){
                $('#runs-' + i + '-start').datetimepicker({
                    format: 'HH:mm',
                    stepping: 15
                });
                $('#runs-' + i + '-stop').datetimepicker({
                    format: 'HH:mm',
                    stepping: 15
                });
            }
        });
    </script>
{% endblock %}
